---
import Card from "../ui/Card.astro"
---

<section class="bg-white w-full flex flex-col py-[75px]">
  <div class="flex justify-between items-center mb-[50px]"><h2 class="text-[3.5rem] font-bold">Best Sellers</h2><div class="w-[90px] rounded-[50px] border border-primary-dark font-normal text-xs text-center px-[14px] py-2">View all</div></div>
  <div class="flex gap-[22px]">
    <Card title="Nature's Help Organic Turmeric, Black Pepper & Ginger - 4 bottle value pack" reviews={2} price="118.83" originalPrice="139.80" savePercentage={15}/>
    <Card title="LifeStart Naturopathics Fem21 - 2 x 300g PACK" reviews={2} price="101.90" originalPrice="119.90" savePercentage={15}/>
    <Card title="2 x Dr Superfoods Tart Cherry Juice Concentrate - 473ml" reviews={6} price="62.90" originalPrice="69.90"savePercentage={10}/>
    <Card title="Teelixir Lion's Mane Mushroom Extract - 100g" reviews={3} price="48.00" originalPrice="60.00"savePercentage={20}/>
  </div>
</section>