---
import itemsPlaceholder from '../../assets/placeholder-products-items.webp'
---

<section class="flex justify-center items-center gap-8 mx-48">
  <img src={itemsPlaceholder.src} alt="hero-placeholder-image" class="w-1/2"/>
  <div class="flex flex-col w-1/2 gap-6">
    <h2 class="text-5xl font-bold">Brand We Love 💚</h2>
    <p class="font-medium">Since 2003 Luvin Life have been providing Health, Wellness and Sustainability products to Australian's and we love what they offer.</p>
    <p class="font-medium">Everything from Magnesium Bath Salts to Crystral Decorative Lights to Bamboo Toothbrushes to MSM to Epsom Salt. They really have a great variety of products that assist on your wellness journey.</p>
    <p class="font-medium">Browse the range and you'll be pleasantly surprised!</p>
  </div>
</section>