---
import Card from "../ui/Card.astro"
---

<section class="bg-white w-full flex flex-col pb-[75px]">
  <div class="flex justify-between items-center mb-[50px]"><h2 class="text-[3.5rem] font-bold">Bundles & Boxes</h2><div class="w-[90px] rounded-[50px] border border-primary-dark font-normal text-xs text-center px-[14px] py-2">View all</div></div>
  <div class="flex gap-[22px]">
    <Card title="Gelatin Health Value Pack - Joints Collagen 1kg + Muscle Build Collagen 1kg" reviews={2} price="169.74" originalPrice="188.60" savePercentage={10}/>
    <Card title="Nature's Help Organic Turmeric, Black Pepper & Ginger - 4 bottle value pack" reviews={2} price="118.83" originalPrice="139.80" savePercentage={15}/>
    <Card title="Paleo Hero Primal Muesli - 750g - 3 value pack" reviews={1} price="91.65" originalPrice="101.85"savePercentage={10}/>
    <Card title="Luvin Life Australian Sourced Bioactive Collagen Peptides - 450g - 3 pack" price="119.85" originalPrice="149.85"savePercentage={20}/>
  </div>
</section>