---
import placeholderLogo from '../../assets/placeholder-logo.png'
---

<header class="sticky top-0 z-20">
  <!-- Announcement-bar -->
   <div class="bg-primary text-center text-white text-xl font-semibold py-[10px]">FREE SHIPPING FOR ORDERS OVER $99 AUSTRALIA WIDE</div>
   <!-- Main -->
    <div class="bg-[#F7F7F7] px-10 py-4 flex justify-between items-center">
      <img src={placeholderLogo.src} class="h-12 ml-32"/>
      <div class="flex items-center gap-7 mr-12">
        <div class="flex ">
          <input class="rounded-l-[50px] border border-primary bg-white p-[5px] pl-4 w-[130px]" placeholder="Search" />
          
          <div class="rounded-r-[50px] border border-primary bg-primary pl-[10px] pr-[14px] self-center py-[11px]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div>
        <svg aria-hidden="true" focusable="false" role="presentation" width="25.52" height="25.52"><path d="M18.748 18.923a7.96 7.96 0 00-6.048-2.894 7.961 7.961 0 00-6.048 2.894 9.949 9.949 0 00-1.7 2.8q-.304-.273-.604-.568a10.706 10.706 0 011.727-2.767 8.846 8.846 0 015.631-3.1 5.262 5.262 0 01-3.728-5.245c0-2.959 2.121-5.366 4.727-5.366s4.727 2.407 4.727 5.366a5.261 5.261 0 01-3.729 5.243 8.843 8.843 0 015.631 3.1 10.712 10.712 0 011.761 2.844q-.3.293-.615.564a9.955 9.955 0 00-1.732-2.871zm-10-8.88c0 2.515 1.771 4.559 3.947 4.559s3.953-2.045 3.953-4.559-1.767-4.566-3.943-4.566-3.948 2.05-3.948 4.566z" stroke="#96af6f" stroke-miterlimit="10" stroke-width="1.2" fill="#96af6f"></path><g fill="none"><path d="M12.76 0A12.76 12.76 0 110 12.76 12.76 12.76 0 0112.76 0z"></path><path d="M12.76 1.5a11.186 11.186 0 00-7.962 3.298A11.186 11.186 0 001.5 12.76c0 3.007 1.171 5.835 3.298 7.962a11.186 11.186 0 007.962 3.298c3.007 0 5.835-1.172 7.962-3.298a11.186 11.186 0 003.298-7.962c0-3.008-1.172-5.835-3.298-7.962A11.186 11.186 0 0012.76 1.5m0-1.5c7.047 0 12.76 5.713 12.76 12.76s-5.713 12.76-12.76 12.76S0 19.807 0 12.76 5.713 0 12.76 0z" fill="#96af6f"></path></g></svg>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon-basket" width="31" height="26"><defs><style>.b{fill:#96af6f}</style></defs><g transform="translate(0 .45)"><g fill="#fff"><path d="M20.499 12.05H10.5a21.784 21.784 0 01-.001-.25c0-3.026.615-5.851 1.73-7.955.943-1.776 2.135-2.795 3.27-2.795 1.135 0 2.326 1.019 3.269 2.795 1.116 2.104 1.731 4.93 1.731 7.956l-.001.249z"></path><path d="M18.96 10.55c-.143-2.285-.679-4.423-1.516-6.002-.729-1.373-1.519-1.998-1.944-1.998-.426 0-1.216.625-1.944 1.998-.838 1.579-1.373 3.717-1.517 6.002h6.922m2.973 3H9.065A23.225 23.225 0 019 11.8C9 5.047 11.916-.45 15.5-.45S22 5.046 22 11.8c0 .585-.022 1.174-.066 1.749v.001z" fill="#96af6f"></path></g><rect fill="#96af6f" width="31" height="3" rx="1.5" transform="translate(0 10.55)"></rect><rect fill="#96af6f" width="29" height="3" rx="1.5" transform="translate(1 14.55)"></rect><rect fill="#96af6f" width="27" height="2" rx="1" transform="translate(2 18.55)"></rect><rect fill="#96af6f" width="23" height="2" rx="1" transform="translate(4 21.55)"></rect><rect fill="#96af6f" width="15" height="1" rx=".5" transform="translate(8 24.55)"></rect></g></svg>
      </div>
    </div>
   <!-- Navigation -->
    <nav class="bg-white px-40 py-3">
      <ul class="flex gap-8 font-bold text-lg">
        <li class="text-primary-dark"> New Arrivals </li>
        <li> Shop Categories <span class="text-primary-dark ml-[5px]">+</span></li>
        <li> Shop Brands <span class="text-primary-dark ml-[5px]">+</span></li>
        <li> Shop by Diet & Lifestyle <span class="text-primary-dark ml-[5px]">+</span></li>
        <li> Bundles </li>
        <li class="text-primary-dark"> Sale </li>
      </ul>
    </nav>
</header>