---
import Card from "../ui/Card.astro"
---

<section class="bg-white w-full flex flex-col pb-[75px]">
  <div class="flex justify-between items-center mb-[50px]"><h2 class="text-[3.5rem] font-bold">New Arrivals</h2><div class="w-[90px] rounded-[50px] border border-primary-dark font-normal text-xs text-center px-[14px] py-2">View all</div></div>
  <div class="flex gap-[22px]">
    <Card title="Luvin Life Australian Sourced Bioactive Collagen Peptides - 450g" price="44.95" originalPrice="49.95" savePercentage={10}/>
    <Card title="Luvin Life Magnesium and MSM Bath Flakes - 1kg" price="24.95" />
    <Card title="Protein Hunters Pepper 80g" price="11.20" originalPrice="12.45" savePercentage={10}/>
    <Card title="Protein Hunters Original 80g" price="11.20" originalPrice="12.45"savePercentage={10}/>
  </div>
</section>