---
import Card from "../ui/Card.astro"
---

<section class="bg-white w-full flex flex-col pb-[75px]">
  <div class="flex justify-between items-center mb-[50px]"><h2 class="text-[3.5rem] font-bold">Sale</h2><div class="w-[90px] rounded-[50px] border border-primary-dark font-normal text-xs text-center px-[14px] py-2">View all</div></div>
  <div class="flex gap-[22px]">
    <Card title="7 x DJ&A Potato Wedges 100g" price="21.00" originalPrice="36.75" savePercentage={43}/>
    <Card title="LifeStart Naturopathics Fem21 - 900g" reviews={3} price="122.70" originalPrice="163.60" savePercentage={25}/>
    <Card title="Nature's Help Meno Glow" price="63.70" originalPrice="74.95"savePercentage={15}/>
    <Card title="Nature's Help Meno Femin" price="59.45" originalPrice="69.95"savePercentage={15}/>
  </div>
</section>